
.review-mid{
    background: #FFF;
    height: 450px;
    color: #555;
    border-radius: 0.75rem;
}
.review-bot{
    height: 14rem;
    border-top-left-radius: 0.75rem;
    background-color: rgb(99 102 241);
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviews-img{
    height: 11rem;
    width: 11rem;
    border-radius: 9999px;
}