.overlay .option {
  color: black;
  cursor: pointer;
  margin: 5px 0;
}
  
.overlay .option + .option {
  border-top: 1px solid black;
  padding-top: 5px;
  margin-top: 5px;
}
  
.custom-hover:hover {
  background-color: #f7fafc;
  border-radius: 10px;
}