.swiper-slide {
    position: relative;
    width: 300px; /* Adjust width as needed */
    height: 350px; /* Adjust height as needed */
    margin-right: 20px; /* Example margin between items */
    overflow: hidden; /* Ensure content doesn't overflow */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(248, 248, 248, 0.337);
    border-radius: 20px;
    width: 100%;
    height: 275px;
    text-align: center;
    padding: 20px; /* Adjust padding as needed */
    z-index: 10; /* Ensure overlay appears above swiper-slide */
  }
  
  .overlay .option {
    color: black;
    cursor: pointer;
    margin: 5px 0;
  }
  
  .overlay .option + .option {
    border-top: 1px solid black;
    padding-top: 5px;
    margin-top: 5px;
  }
  
  .swiper-slide:hover .overlay {
    display: flex; /* Show overlay on hover */
  }
  